# Python
__pycache__/
.ipynb_checkpoints/

#vscode
**/.vscode/**
.devcontainer/**
vscode_remote/**
.eslintrc.json

# Docker configuration
.env

# node modules
node_modules/**

# MariaDB directory created by Docker
db_data/*

model/*
!model/README.md

projects/*.hdf5
projects/*.info